$grey: #353531;
$lightgrey: #959581;
$red: #F90338;
$yellow: #F3f302;
$blue: #23395B;
$white: #F2F7F2;
$darkred: #CE2232;
$green: #23f93B;

body {
  background-color: $blue;
  font-family: "Impact";
}

#glitchsquad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  width: 1300px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  color: $grey;
}

.game-play {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  #glitchsquad {
    height: 400px;
  }
  .game-play {
    flex-direction: row;
  }
}


@keyframes glitched{
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

.glitch::after {
  content: 'glitch';
  color: red;
  opacity: 0.8;
  font-size: 300px;
  top: 0px;
  position: absolute;
  color: red;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  animation-name: glitched;
  animation-duration: 0.15s;
  animation-iteration-count: infinite;
}

.hexcontainer {
  margin-top: 80px;
  width: 850px;
  height: 555px;
  line-height: 1.3;
}

.hexline {
  height: 128px;
}

.hexline-even {
  position: relative;
  left: 40px;
}

.hexline-odd {
  position: relative;
  margin-top: -75px;
  margin-bottom: -75px;
}

.hex {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 40px;
  transform: rotate(90deg);
}

.hw {
  position: absolute;
  width: 20px;
  height: 45px;
  outline: 2px solid $white;
  outline-offset: -1px;
  background: $white;
  transform-origin: 50% 40px;
}

.hw-a-1 {
  transform: rotate(60deg);
}

.hw-a-2 {
  transform: rotate(120deg);
}

.hw-a-3 {
  transform: rotate(180deg);
}

.hw-a-4 {
  transform: rotate(240deg);
}

.hw-a-5 {
  transform: rotate(300deg);
}

.hw-t-3 {
  height: 0px;
  width: 0px;
  outline-width: 0px;
}

.hw-t-1 {
  border-top: 5px solid $lightgrey;
  height: 40px;
}

.hw-t-2 {
  border-top: 5px solid $grey;
  height: 40px;
}

.hex.empty {
  border-color: $blue;
  background-color: $blue;
}

.hex.empty:after, .hex.empty:before {
  border-color: $blue;
}

.hex .evac {
  z-index: 3;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  top: 10px;
  left: -20px;
  width: 60px;
  height: 60px;
  line-height: 8.2;
  transform: rotate(-90deg);
  border-radius: 30px;
  opacity: 0.9;
  color: black;
}

.c-p0 {
  background: $yellow;
}

.c-p1 {
  background: $green;
}

.disc {
  background: $red;
}

.hex .char {
  z-index: 2;
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  top: 15px;
  left: -15px;
  width: 50px;
  height: 50px;
  line-height: 1.2;
  transform: rotate(-90deg);
  border-radius: 25px;
  background: $white;
  transition: all 150ms;
}

.hex .char:hover {
  background: $green;
}

.hex .sub {
  position: absolute;
}

.hex .h-acts {
  position: absolute;
  height: 21px;
  width: 21px;
  top: 30px;
  opacity: 0.9;
  left: 0px;
  color: $lightgrey;
  z-index: 7;
  font-size: 12px;
  transform: rotate(-90deg);
  .m {
    display: inline-block;
    height: 1px;
    width: 2px;
  }
}

.hex .h-act {
  z-index: 10;
  display: inline-block;
  border: $lightgrey 1px solid;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 1px;
  span {
    display: none;
    position: absolute;
    width: 60px;
    font-weight: 600;
    top: 20px;
    left: -19px;
    text-align: center;
  }
}

.hex .h-acts.l2 {
  width: 43px;
  left: -12px;
  top: 29px;
  span {
    left: -8px;
  }
}

.hex .h-act.p0 {
  background: $yellow;
}

.hex .h-act.p1 {
  background: $green;
}

.hex .h-act.darkgrey {
  background: $grey;
}

.hex .h-act.darkred {
  background: $darkred;
}

.hex .h-act:hover {
  background: $lightgrey;
  span {
    display: inline;
  }
}

.squad-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}


.soldier {
  position: relative;
  border: 4px $lightgrey solid;
  height: 104px;
  width: 96px;
  margin: 4px;
  margin-bottom: 110px;
  z-index: 6;
  display: inline-block;
  background: white;
  text-align: center;
  .s-code {
    font-size: 50px;
    font-weight: 600;
  }
  .s-name {
    font-size: 26px;
    line-height: 1.5;
  }
  .acts {
    position: absolute;
    width: 96px;
    top: 108px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    div {
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 2px;
      background: $lightgrey;
      color: $grey;
      border: 4px $lightgrey solid;
      transition: all 0.5;
    }
    div:hover:not(.ap) {
      color: $darkred;
      cursor: pointer;
    }
  }
}

.s-player {
  position: absolute;
  top: -32px;
  font-size: 24px;
  width: 96px;
}

.s-p-0 {
  background: $yellow;
  .s-player {
    color: $yellow;
  }
}

.s-p-1 {
  background: $green;
  .s-player {
    color: $green;
  }
}

.s-kia {
  border-color: $grey;
  background: $darkred;
  color: $red;
}

.s-act {
  border-color: $darkred;
  transition: outline-color .7s ease-out;
}

.s-data::after {
  content: 'D';
  color: $grey;
  position: absolute;
  opacity: 0.8;
  font-size: 32px;
  top: -11px;
  left: -10px;
  background: $white;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: 500;
  border-radius: 16px;
  line-height: 1;
  border: 2px $grey solid;
}

.hex .soldiers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 5;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 8px;
  left: -20px;
  transform: rotate(-90deg);
  .soldier {
    border: 1px $lightgrey solid;
    width: 24px;
    height: 26px;
    margin: 1px;
    text-align: center;
    .s-code {
      font-size: 14px;
    }
    .s-name {
      font-size: 8px;
      line-height: 0.9;
    }
  }
  .soldier.s-act {
    border: 2px $darkred solid;
  }
  .s-data::after {
    content: 'D';
    color: $grey;
    position: absolute;
    opacity: 0.8;
    font-size: 12px;
    top: -6px;
    left: -6px;
    background: $white;
    width: 12px;
    height: 12px;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    line-height: 1;
    border: 1px $grey solid;
  }
}
.online{
  .s-m-e.s-act {
    border-color: $grey !important;
    .acts div {
      border-color: $grey !important;
      background: $grey !important;
      color: $lightgrey !important;
    }
    .s-player {
      color: $grey;
    }
  }
}
